body {
  background-color: #020010
}

p {
  color: white !important;
  font-family: Roboto Light !important;
  font-size: 12px;
}

h1 {
  color: white;
  font-family: Open Sans !important;
  font-size: 50px;
  margin: 1;
}

h2 {
  color: white !important;
  font-family: Open Sans !important;
  font-size: 40px;
  margin: 5;
}

#smallprint {
  color: white !important;
  font-family: Roboto Light !important;
  font-size: 20px;
}

#question {
  color: #c8a2c8;
  font-family: Open Sans !important;
  font-size: 50px;
  margin-top: -100px;
  padding-left: 650px;
}

#container {
  text-align: center;
  margin-top: 100px;
}

#header {
  height: 250px;
  padding: 10px;
}

#apps {
  height: 90px;
  padding: 10px;
}

#arrow {
  height: 15px;
  padding: 10px;
}

#learnmore {
  height: 70px;
  margin: 10px;
}

#people {
  height: 30px;
  padding: 10px;
}

#comingsoon {
  height: 140px;
  padding: 10px;
}

#instruction1 {
  padding-left: 110px;
  float: left;
}

#instruction2 {
  padding-right: 300px;
  float: center;
}

#instruction3 {
  padding-right: 110px;
  float: right;
  margin-top: -70px;
}

#instruction1a {
  padding-left: 130px;
  float: left;
  margin-top: -40px;
}

#instruction2a {
  padding-right: 300px;
  float: center;
  margin-top: -20px;
}

#instruction3a {
  padding-right: 107px;
  float: right;
  margin-top: -70px;
}

#footer {
  clear: both;
  margin-top: 100px;
  padding: 10px;
  font-size: 10px;
}
